$blue: rgb(61, 61, 245);
.pagination{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    button {
        padding: 10px 14px;
        margin-right:10px;
        border: none;
        background: inherit;
        font-size: 14px;
        font-weight: 700;
        &.active {
            background-color:  $blue;
            color: rgb(255, 255, 255);
            border-radius: 3px;
        }
    }
}