.container {
    width: 100%;
    max-width: 1200;
    margin: auto;
    padding: 25px;
    .header{
        font-size: 46px;
        font-weight: normal;
        padding: 10px;
        margin-bottom: 10px;
    }
    .search-input {
        padding: 0 10px;
        margin-bottom: 20px;
        display: flex;
        width: 100%;
        input[type=text] {
            width: calc(100% - 50px);
            height: 48px;
            font-size: 16px;
            padding: 10px;
            border: 1px solid  rgba(0,0,0,0.1);
            box-shadow: 0 1px 3px rgba(0,0,0,0.1);
            border-right: none;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }
        .search-button{
            padding:  8px 16px;
            background-color: rgba(228, 99, 99, 0.938);
            border: 1px solid rgba(228, 99, 99, 0.938);
            color: white;
            font-size: 16px;    
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;        }
    }
    .cards-list {
        display: flex;
        flex-wrap: wrap;
    }
}

.loading {
    display: block;
    animation: spin 0.5s linear infinite;
    margin: 50px auto;
    font-size: 24px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }